name: leaf

services:
  pg:
    image: postgres:18-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: leaf
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata: